//Colors
$blackColor: #020004;
$whiteColor: white;

// Font Variables
$darkMainFont: "Genesys"; //Genesys | .hello .make .and .contact
$darkSubtitleFont: "Radiotechnika"; //RadioTechnika | .level .tagline
$darkTaglineFont: "Auch 1"; //Auch | .stackList
$darkSpecialFont: "Glitch"; //Rubik-Glitch | .stack
