html,
body,
.homeDark {
  background-color: #020004;
  color: white;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  margin-left: 0px;
  margin-bottom: 0px;
}

.darkMarginWrap {
  margin-right: 10%;
  margin-left: 10%;
}

.hello,
.make,
.and,
.solve,
.contact {
  font-family: "Genesys";
}

.level,
.tagline {
  font-family: "Radiotechnika";
}

img {
  width: 100%;
  max-height: 900px;
}

.darkKeyboard {
  position: relative;
}

.titleWrap {
  -ms-grid-rows: 1fr, 1fr;
      grid-template-rows: 1fr, 1fr;
  position: absolute;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 1em;
  right: 0;
}

.hello {
  text-align: right;
  font-size: 8vw;
}

.hello:hover {
  -webkit-animation: glitch 450ms infinite;
          animation: glitch 450ms infinite;
}

.tagline {
  font-size: 3vw;
  text-align: right;
  text-shadow: 0.05em 0.025em 0 rgba(255, 0, 0, 0.75), -0.015em -0.025em 0 rgba(0, 255, 0, 0.75), 0.015em 0.025em 0 rgba(0, 0, 255, 0.75);
}

.tagline:hover {
  -webkit-animation: glitch 450ms infinite;
          animation: glitch 450ms infinite;
}

.makeAndSolve {
  display: -ms-grid;
  display: grid;
}

.make {
  font-size: 5.5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
  padding-left: 2%;
}

.and {
  font-size: 15vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-shadow: 0.025em 0 0 rgba(255, 0, 0, 0.75), -0.015em -0.025em 0 rgba(0, 255, 0, 0.75), 0.015em 0.025em 0 rgba(0, 0, 255, 0.75);
}

.and:hover {
  -webkit-animation: glitch 450ms infinite;
          animation: glitch 450ms infinite;
}

.solve {
  font-size: 5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  padding-right: 2%;
}

.level {
  font-size: 8vw;
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.contactHead {
  font-size: 5vw;
}

span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
      grid-template-columns: 1fr 10fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  height: auto;
  font-size: 4vw;
}

.contactLink {
  font-size: 3vw;
}

.stackWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  grid-column: auto;
}

.stack {
  font-size: 8vw;
  padding-left: 1em;
  font-family: "Glitch";
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 750ms infinite;
          animation: glitch 750ms infinite;
}

.stack span {
  position: absolute;
  z-index: -1;
}

.stack span:first-child {
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}

.stack span:last-child {
  -webkit-animation: glitch 375s infinite;
          animation: glitch 375s infinite;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75), 0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75), 0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), -0.05em 0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75), 0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75), 0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), 0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), -0.05em 0.025em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.stackList {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-size: 3.5vw;
  padding-right: 1em;
  font-family: "Auch 1";
}

li:hover {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 450ms infinite;
          animation: glitch 450ms infinite;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
/*# sourceMappingURL=Home.css.map */