@import "../Variables/Variables.scss";

//background
html,
body,
.homeDark {
  background-color: $blackColor;
  color: white;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: grid;
  // if these are not here, things will not center correctly
  margin-left: 0px;
  margin-bottom: 0px;
}

.darkMarginWrap {
  margin-right: 10%;
  margin-left: 10%;
}

//fonts
.hello,
.make,
.and,
.solve,
.contact {
  font-family: $darkMainFont;
}

.level,
.tagline {
  font-family: $darkSubtitleFont;
}

.stackList {
  font-family: $darkTaglineFont;
}

.stack {
  font-family: $darkSpecialFont;
}

//individual features
hr {
  margin: 2em;
}

img {
  width: 100%;
  max-height: 900px;
}

.darkKeyboard {
  position: relative;
}

// Title
.titleWrap {
  grid-template-rows: 1fr, 1fr;
  position: absolute;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 1em;
  right: 0;
}

.hello {
  text-align: right;
  font-size: 8vw;
}

.tagline {
  font-size: 3vw;
  text-align: right;
}

// Make and Solve Card
.makeAndSolve {
  display: grid;
}

.make {
  font-size: 5.5vw;
  align-self: center;
  justify-self: left;
  padding-left: 2%;
}

.and {
  font-size: 15vw;
  align-self: center;
  justify-self: center;
}

.solve {
  font-size: 5vw;
  align-self: center;
  justify-self: right;
  padding-right: 2%;
}

// LevelUp Card
.level {
  font-size: 8vw;
  padding-left: 1em;
  padding-right: 1em;
}

// Stack List Card
.stackWrap {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column: auto;
}

.stack {
  font-size: 8vw;
  padding-left: 1em;
}

.stackList {
  align-content: space-between;
  font-size: 3.5vw;
  padding-right: 1em;
}

// Contact Card
.contactHead {
  font-size: 5vw;
}

span {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-auto-rows: min-content;
  align-items: center;
}

.icon {
  height: auto;
  font-size: 4vw;
}

.contactLink {
  font-size: 3vw;
}
